@import "libs/normalize";
@import "libs/fonts";
@import "libs/accordion";
@import "base/variables";

* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

.container {
  width: 1130px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/wellcome";
@import "blocks/feature";
@import "blocks/about";
@import "blocks/accordion";
@import "blocks/delivery";
@import "blocks/menu";
@import "blocks/tabs";
@import "blocks/footer";
@import "base/media";
