.feature {
  padding: 45px 0 0 0;
  position: relative;
  &__subtitle {
    text-align: center;
    color: $main-color;
    font-family: Sacramento;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  &__title {
    text-align: center;
    color: #222222;
    font-family: "Lobster Two";
    font-size: 36px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
  }
  &__shape {
    display: block;
    margin: 11px auto 0 auto;
  }
  &__inner {
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    div {
      img {
        width: 270px;
        height: 230px;
      }
    }
    &_title {
      text-align: center;
      color: #1c1c1c;
      font-family: "Lobster Two";
      font-size: 24px;
      font-weight: 400;
      margin-top: 34px;
    }
    &_price-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 11px;
    }
    &_price,
    &_old-price {
      margin-right: 10px;
      color: #1c1c1c;
      font-family: "Lobster Two";
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
    &_old-price {
      font-size: 16px;
      text-decoration: line-through;
      align-self: center;
    }
  }
  .prev,
  .next {
    position: absolute;
    top: 53%;
    transform: translateY(38%);
    left: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    img {
      width: 56px;
      height: 56px;
    }
  }
  .next {
    left: auto;
    right: 25px;
    background: transparent;
  }

  .tns-item {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
