.footer {
  background: url("../img/footer/footer_bg.jpg") center center/cover no-repeat;
  padding: 49px 0 82px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__instagram {
    width: 255px;
    &_title {
      color: #222222;
      font-family: "Lobster Two";
      font-size: 28px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      margin-top: 80px;
    }
    &_photo {
      margin-top: 20px;
      img {
        margin-right: 2px;
        margin-bottom: 2px;
      }
    }
  }
  &__introduce {
    &_logo {
      display: block;
      margin: 50px auto 0 auto;
    }
    &_title {
      text-align: center;
      color: #222222;
      font-family: "Lobster Two";
      font-size: 28px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      margin-top: 17px;
    }
    &_descr {
      text-align: center;
      color: #808080;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      width: 471px;
      line-height: 28px;
      margin-top: 25px;
    }
  }
  &__tag {
    margin-left: 20px;
    &_title {
      color: #222222;
      font-family: "Lobster Two";
      font-size: 28px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      margin-top: 80px;
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 275px;
      margin-top: 20px;
    }
  }
  &_block {
    background: #fff;
    padding: 10px 25px;
    margin-bottom: 10px;
    color: #222222;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #222222;
      text-decoration: none;
    }
    &_psd,
    &_ux {
      padding: 10px 18px;
    }
    &_template {
      padding: 8px 22px;
    }
    &_restaurant {
      margin-right: 50px;
    }
    &_food_menu {
      padding: 10px 19px;
    }
  }
  &__search {
    margin-top: 20px;
    input {
      width: 229px;
      padding: 9px 0 11px 16px;
      border: none;
      color: #808080;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
    }
    button {
      width: 45px;
      padding: 0;
      margin: 0;
      position: absolute;
      height: 36px;
      border: none;
      background: #00c5d2;
      cursor: pointer;
      i {
        color: #fff;
      }
    }
  }
  &__social {
    margin-top: 40px;
    color: #808080;
    font-size: 24px;
    font-weight: 400;
    a {
      color: #808080;
      font-size: 24px;
      font-weight: 400;
      i {
        margin-right: 15px;
      }
    }
  }
  &__links {
    ul {
      list-style-type: none;
      display: flex;
      li {
        margin-right: 22px;
        margin-top: 43px;
        color: #222222;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        &:first-child {
          color: #00c5d2;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #222222;
          text-decoration: none;
        }
      }
    }
    &_wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}
