.burger-icon {
  position: relative;
  right: 1%;
  cursor: pointer;
  top: 3px;
}

.burger-nav {
  display: none;
  height: 40px;
  width: 100%;
  background-color: #cccccc;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
}

header .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  height: 0;
  max-height: 0px;
  list-style-type: none;
  padding-left: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav.open {
  height: auto;
  max-height: 500px;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li {
  float: none;
  text-align: left;
  text-decoration: none;
  width: 100%;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
  text-align: center;
}

#contain {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $main-color;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hover .bar1 {
  background-color: red;
}

.hover .bar2 {
  background-color: red;
}

.hover .bar3 {
  background-color: red;
}

.hamburger__tel {
  color: #fff;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
  }
}
